NodeRed_IoT_SR_G3.json
[
    {
        "id": "9d17decb19bf6029",
        "type": "tab",
        "label": "Programa_DatosSensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3fb997d22059fa3",
        "type": "mqtt in",
        "z": "9d17decb19bf6029",
        "name": "",
        "topic": "esp8266/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "77fe88605cffb6ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "b46e22e9fba0f0bc",
                "ec3db36cc185e394",
                "f1b49e8616960a8c",
                "2d85480bf206f76e"
            ]
        ]
    },
    {
        "id": "6a3083624df7d1a7",
        "type": "mqtt in",
        "z": "9d17decb19bf6029",
        "name": "",
        "topic": "esp8266/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "77fe88605cffb6ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "58ae715d6cb9b158",
                "34dd574a181d41f9",
                "9865cac226e92f4c",
                "407b3f8cc422f633"
            ]
        ]
    },
    {
        "id": "34dd574a181d41f9",
        "type": "debug",
        "z": "9d17decb19bf6029",
        "name": "debug temperatura ambiental",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "deb9e32c2211612b",
        "type": "mqtt in",
        "z": "9d17decb19bf6029",
        "name": "",
        "topic": "esp8266/humedadSuelo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "77fe88605cffb6ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 540,
        "wires": [
            [
                "bf57c0fca470d76d",
                "69877262bcb32569",
                "edb32820e6b0c46a",
                "6504aceeb7eba32c"
            ]
        ]
    },
    {
        "id": "f1b49e8616960a8c",
        "type": "debug",
        "z": "9d17decb19bf6029",
        "name": "debug humedad ambiental",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "edb32820e6b0c46a",
        "type": "debug",
        "z": "9d17decb19bf6029",
        "name": "debug humedad del suelo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "49151ddada4b69cd",
        "type": "mysql",
        "z": "9d17decb19bf6029",
        "mydb": "eea603a0453f1d8a",
        "name": "",
        "x": 1020,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "afc3c6e8608dfd7c",
        "type": "function",
        "z": "9d17decb19bf6029",
        "name": "mandarDatos",
        "func": "var temperatura = msg.payload[0];\nvar humedad = msg.payload[1];\nvar humedadSuelo = msg.payload[2];\nmsg.topic = \"insert into datossensores values(CURDATE(), CURTIME(),\" + temperatura + \",\" + humedad + \",\" + humedadSuelo+\");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 420,
        "wires": [
            [
                "49151ddada4b69cd"
            ]
        ]
    },
    {
        "id": "9865cac226e92f4c",
        "type": "function",
        "z": "9d17decb19bf6029",
        "name": "getTemperatura",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            [
                "f7bdab218ee74250"
            ]
        ]
    },
    {
        "id": "2d85480bf206f76e",
        "type": "function",
        "z": "9d17decb19bf6029",
        "name": "getHumedad",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 400,
        "wires": [
            [
                "f7bdab218ee74250"
            ]
        ]
    },
    {
        "id": "6504aceeb7eba32c",
        "type": "function",
        "z": "9d17decb19bf6029",
        "name": "getHumedadSuelo",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 600,
        "wires": [
            [
                "f7bdab218ee74250"
            ]
        ]
    },
    {
        "id": "f7bdab218ee74250",
        "type": "join",
        "z": "9d17decb19bf6029",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 930,
        "y": 420,
        "wires": [
            [
                "afc3c6e8608dfd7c"
            ]
        ]
    },
    {
        "id": "407b3f8cc422f633",
        "type": "ui_gauge",
        "z": "9d17decb19bf6029",
        "name": "",
        "group": "f8afb99db4151e55",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura (Medidor Radial)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "b46e22e9fba0f0bc",
        "type": "ui_gauge",
        "z": "9d17decb19bf6029",
        "name": "",
        "group": "eb7a5d2cecec97ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad Ambiental (Medidor Radial)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "bf57c0fca470d76d",
        "type": "ui_gauge",
        "z": "9d17decb19bf6029",
        "name": "",
        "group": "2ce251332ea178d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad Suelo (Medidor Radial)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "58ae715d6cb9b158",
        "type": "ui_chart",
        "z": "9d17decb19bf6029",
        "name": "",
        "group": "f8afb99db4151e55",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura (Gráfico)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ec3db36cc185e394",
        "type": "ui_chart",
        "z": "9d17decb19bf6029",
        "name": "",
        "group": "eb7a5d2cecec97ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humedad Ambiental (Gráfico)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "69877262bcb32569",
        "type": "ui_chart",
        "z": "9d17decb19bf6029",
        "name": "",
        "group": "2ce251332ea178d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humedad Suelo (Gráfico)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1025",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "77fe88605cffb6ea",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.15",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eea603a0453f1d8a",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iotproyecto_g3",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f8afb99db4151e55",
        "type": "ui_group",
        "name": "Temperatura Ambiental",
        "tab": "79a7227585e402e0",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb7a5d2cecec97ef",
        "type": "ui_group",
        "name": "Humedad Ambiental",
        "tab": "79a7227585e402e0",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ce251332ea178d5",
        "type": "ui_group",
        "name": "Humedad Suelo",
        "tab": "79a7227585e402e0",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79a7227585e402e0",
        "type": "ui_tab",
        "name": "Tablero de control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]